body {
    padding-top: 20px; 
}

footer {
    margin: 30px 0;
}

.logo {
    background-image: url(https://cdn1.iconfinder.com/data/icons/seo-marketing/503/22-512.png);
    
    height: 300px;
    width: 100%;
}